* {
    margin: 0;
    padding: 0;
}

body {
    margin: 50px 50px 50px 50px;
    font-size: 80%;
}

.label {
    text-align: center;
    width: 300px;
    display: inline-block;
    margin-left: -1.5px;
    margin: 0 0 20px 0;
}

h1 {
    margin: 0 0 5px 0;
}

h2 {
    font-size: 130%;
    color: #444;
    margin: 10px 0 5px 0;
}

h3 {
    color: #444;
    font-size: 100%;
    margin: 30px 0 5px 0;
}

#mode {
    margin: 0px 20px 10px 0px;
}

#noise {
    margin: 0px 10px 10px 0px;
}

#loop {
    margin: 0px 15px 10px 5px;
    width: 50px;
}

#draw {
    width: 50px;
}

#msg {
    display: inline-block;
    margin: 0px 10px 10px 20px;
}

#copy {
    color: #444;
    margin: 30px 0px 0px 0px;
    font-size: 90%;
}

#main {
    margin: 20px 0 0 0;
}



hr {
    border: none;
    border-top: #eee 1px solid;
    width: 800px;
    height: 0px;
    margin: 50px 0 50px 50px;
}

#description {
    margin: 60px 0 0 0;
}

.left {
    display: inline-block;
    width: 550px;
    vertical-align: top;
    padding: 0 50px 0 0;
}

.right {
    display: inline-block;
    width: 300px;
}

ul {
    margin: 0 0 0 15px;
}

li {
    padding: 0 0 0 5px;
    margin: 0 0 10px 0;
}

.head {
    float: left;
}

.item {
    margin-left: 120px
}

figure {
    margin: 0 0 10px 0;
}

img {
    width: 100%;
}

figcaption {
    text-align: center;
    color: #666;
    margin-bottom: 30px;
}


td {
    text-align: center;
    width: 10px;
    height: 10px;
    padding: 5px;
}

table {
    border: 1px solid #000;
}

#cell0,
#cell1,
#cell3,
#cell4 {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

#cell6,
#cell7 {
    border-right: 1px solid #000;
}
#cell2,
#cell5 {
    border-bottom: 1px solid #000;
}
#formula-list {
    display: none;
    /* font-size: 120%; */
}
#description div {
    margin-bottom: 20px;
}
#formula-list img {
    width: 50%;
}